.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.settings-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
